:root {
  // Main
  --c-main-1: #121A45;
  --c-main-2: #2FABDD;
  --c-main-3: #01105B;
  --c-main-4: #163260;
  --c-main-5: #1C2356;

  // Secondary
  --c-sec-1: #0A456E;
  --c-sec-2: #82C8EE;

  // Colors
  --c-white: #FFFFFF;
  --c-white-50: rgba(250, 250, 250, 0.5);
  --c-white-1: #FBFAF5;
  --c-black: #000000;
  --c-orange: #FCB415;
  --c-orange-2: #FCB41526;
  --c-gray: #7F7F7F;
  --c-blue-1: #0C2A54;
  --c-purple: #A5A6F6;
  --c-purple-2: #7879F1;
  --c-purple-3: #5D5FEF;
  --c-purple-4: #71768F;
  --c-purple-5: #8A8BF6;
  --c-bg-1: #F6F8FC;
  --c-bg-2: rgba(120, 121, 241, 0.1);
  --c-t-sec: #BBBBBB;
  --c-border: rgba(187, 187, 187, 0.3);

  // Filters
  --f-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(75deg) brightness(102%) contrast(101%);
  --f-main-2: invert(59%) sepia(35%) saturate(1216%) hue-rotate(161deg) brightness(95%) contrast(81%);
  --f-sec-2: invert(79%) sepia(4%) saturate(4967%) hue-rotate(172deg) brightness(99%) contrast(88%);;
  --f-orange: invert(75%) sepia(52%) saturate(1712%) hue-rotate(348deg) brightness(102%) contrast(98%);
  --f-purple: invert(77%) sepia(6%) saturate(7476%) hue-rotate(195deg) brightness(95%) contrast(103%);
  --f-purple-2: invert(51%) sepia(15%) saturate(2149%) hue-rotate(201deg) brightness(97%) contrast(96%);
  --f-purple-4: invert(48%) sepia(8%) saturate(981%) hue-rotate(193deg) brightness(94%) contrast(90%);

  // Utils: decoration
  --shadow-1: #2FABDD66;
  --background-1: rgba(165, 166, 246, 0.12);
  --gradient-1: linear-gradient(270deg, #2F9EDD 0%, #427EEB 100%);
  --gradient-2: linear-gradient(108.65deg, #2724BD 0.82%, #2724BD 59.86%, #8261EE 111.61%);
  --gradient-3: linear-gradient(90deg, #2FABDD 0%, #82C8EE 100%);
  --gradient-4: linear-gradient(180deg, rgb(165 166 246 / 12%) 0%, rgba(165, 166, 246, 0) 100%);
  --gradient-5: linear-gradient(180deg, rgba(165, 166, 246, 0.12) 0%, rgba(165, 166, 246, 0) 100%);
  --gradient-6:  linear-gradient(180deg, rgba(165, 166, 246, 0.12) 0%, rgba(165, 166, 246, 0) 100%);

  --radius-1: 5px;
  --radius-2: 10px;
  --radius-3: 15px;
  --radius-4: 20px;
  --radius-5: 30px;
  --radius-6: 100px;

  // Utils: status
  --c-disable: #BBBBBB;

  // Utils: others
  --transition-time: 0.2s;
}
